/* step 2: component  */
.contact
{
    background-color: aqua;
}
/* step 3: component Container  */
.contactContainer
{
    background-color: bisque;
}
/* step 4: row1 */
.contactHeadingBody
{
    background-color: blue;
}
/* step 5: column */
.contactHeadingBlock
{
    background-color: brown;
}
/* step 6: subcolumn */
.contactHeadingBox
{
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* step 7: contentContainer */
.contactHeadingBox figure
{
    background-color: chocolate;
}
.contactHeadingBox figure img
{
    background-color: chartreuse;
}

/* step 4: row2 */
.contactBody
{
    background-color: rgb(113, 113, 211);
}
/* step 5: column1 */
.contactImageBlock
{
    background-color: rgb(204, 54, 54);
}
/* step 6: subcolumn1 */
.contactImageBox
{
    background-color: rgb(225, 101, 43);
    align-items: center;
}
/* step 7: contentContainer */
.contactImageBox figure
{
    background-color: rgb(29, 32, 195);
}
.contactImageBox figure img
{
    background-color: rgb(125, 200, 50);
}
/* step 5: column1 */
.contactBookBlock
{
    background-color: rgb(73, 168, 231);
}
/* step 6: subcolumn1 */
.contactBookBox
{
    background-color: rgb(198, 104, 61);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contactBookBox{
    display: flex;
   text-align: center;
}